name: CI Build

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "*.md"
  pull_request:
    branches: ["main"]
    paths-ignore:
      - "*.md"

env:
  CARGO_TERM_COLOR: always

jobs:
  build-hal:
    name: Build HAL (${{ matrix.chip }})
    strategy:
      fail-fast: false
      matrix:
        chip:
          - ch32l103f8u6
          - ch32v003f4u6
          - ch32v103c8t6
          - ch32v203f8u6
          - ch32v208wbu6
          - ch32v303cbt6
          - ch32v305fbp6
          - ch32v307vct6
          - ch32x035f7p6
          - ch641
        include:
          - chip: ch32l103f8u6
            target: riscv32imc-unknown-none-elf
          - chip: ch32v003f4u6
            target: riscv32i-unknown-none-elf
          - chip: ch32v103c8t6
            target: riscv32imc-unknown-none-elf
          - chip: ch32v203f8u6
            target: riscv32imc-unknown-none-elf
          - chip: ch32v208wbu6
            target: riscv32imc-unknown-none-elf
          - chip: ch32v303cbt6
            target: riscv32imc-unknown-none-elf
          - chip: ch32v305fbp6
            target: riscv32imc-unknown-none-elf
          - chip: ch32v307vct6
            target: riscv32imc-unknown-none-elf
          - chip: ch32x035f7p6
            target: riscv32imc-unknown-none-elf
          - chip: ch641
            target: riscv32i-unknown-none-elf
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        run: |
          rustup default nightly
          rustup component add rust-src
          rustup target add ${{ matrix.target }}
      - name: Fetch Deps
        if: github.event_name == 'pull_request'
        run: |
          mkdir -p ../ch32-data/build/
          cd ../ch32-data/build/
          git clone https://github.com/ch32-rs/ch32-metapac.git
      - name: Build HAL
        run: cargo build --features ${{ matrix.chip }},embassy,rt,memory-x --no-default-features --target ${{ matrix.target }}

  build-examples:
    name: Build Examples
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        run: |
          rustup default nightly
          rustup component add rust-src
          rustup target add riscv32imc-unknown-none-elf
          rustup target add riscv32i-unknown-none-elf
      - name: Fetch Deps
        if: github.event_name == 'pull_request'
        run: |
          mkdir -p ../ch32-data/build/
          cd ../ch32-data/build/
          git clone https://github.com/ch32-rs/ch32-metapac.git
      - name: Build Examples
        run: |
          for d in examples/*/; do
            echo "Building $d"
            (cd "$d" && cargo build --release)
          done
